MONGODB_URI=mongodb://localhost:27017
PORT=8080

CORS_ORIGIN=*

ACCESS_TOKEN_SECRET==57DZVzJXAgXagCHc95R10x0oO8TAM7Lfv4w
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=HgKVYPzuYM1T3CRPoxBjuRuaI5aG04ZEef7o7qULB9buXRPO4G
REFRESH_TOKEN_EXPIRY=10d

SALT_ROUNDS=10
